@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?62fb6e9c8b6f746cb84936d22adfcbde") format("truetype"),
url("./flaticon.woff?62fb6e9c8b6f746cb84936d22adfcbde") format("woff"),
url("./flaticon.woff2?62fb6e9c8b6f746cb84936d22adfcbde") format("woff2"),
url("./flaticon.eot?62fb6e9c8b6f746cb84936d22adfcbde#iefix") format("embedded-opentype"),
url("./flaticon.svg?62fb6e9c8b6f746cb84936d22adfcbde#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-profile-user:before {
    content: "\f101";
}
.flaticon-door-key:before {
    content: "\f102";
}
.flaticon-twitter:before {
    content: "\f103";
}
.flaticon-facebook:before {
    content: "\f104";
}
