
/* Button  */

.button {
  min-width: var(--size-9);
	padding: var(--size-3);
  background-color: var(--gray-2);
	border-radius: var(--size-1);
	transition: background-color 150ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--gray-3);
}

/* Color */

/* Button primary */

.button--primary {
  background-color: var(--primary-5);
  color: var(--white);
}

.button--primary:hover {
  background-color: var(--primary-6);
}

.button--dark-primary {
  background-color: var(--primary-6);
  color: var(--white);
}

.button--dark-primary:hover {
  background-color: var(--primary-8);
}

/* Size */

.button--max-w {
  width: 100%;
}

/* Additional elements */

.button--with-left-elem {
  padding-left: calc(4rem + var(--size-3));
  position: relative;
}

.button__elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.15);
  transition: background-color 150ms ease-in-out;
  position: absolute;
  top: 0;
}

.button__elem--left {
  border-top-left-radius: var(--size-1);
  border-bottom-left-radius: var(--size-1);
  left: 0;
}

.button__elem--light {
  color: var(--white);
}